#Compiled Files#
################
*.pyc

#not using log for now
log.txt

#Configuration File#
####################
config.py

#Test Files#
###########
test.py
chanlog.py

#Database File#
###############
*.db
